<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wrapped Page</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="GetYourWrapped">
        <b>Get your wrapped.</b>
    </div>
    <div class="email-input">
        <input type="email" placeholder="Enter your email address" required>
    </div>
    <div class="password-input">
        <input type="password" placeholder="Enter your password" required>
    </div>
    <div class="sign-in-button">Sign In</div>
    <div class="register-button">Don't have an account? Register!</div>
    </div>
    </div>

</body>
</html>
