<h1>Account Info & Saved Wraps</h1>

<div class="account-details">
    <h1>Account Details</h1>
    <div class="name">
        <p><span class="info-label"></span> {{ user.first_name }} {{ user.last_name }}</p>
    </div>
    
    <div class="account-info">
        <p><span class="info-label">Username:</span> {{ user.username }}</p>
        <p><span class="info-label">Email:</span> {{ user.email }}</p>
    </div>
    
    <!-- Delete Account Form -->
    <form action="{% url 'auth:delete_account' %}" method="POST"
          onsubmit="return confirm('Are you sure you want to delete your account?');">
        {% csrf_token %}
        <button type="submit" class="delete-account-button">Delete Account</button>
    </form>
</div>

<div class="saved-wraps">
    <h1>Your Favorite Wraps</h1>
    <ul class="saved-individual-wraps">
        {% for wrap in saved %}
            <li>
                <strong>Time Range:</strong> {{ wrap.time_range }}<br>
                <strong>Top Genres:</strong> {{ wrap.top_genres|join:", " }}<br>
                <strong>Average Valence:</strong> {{ wrap.average_valence }}<br>
                <strong>Top Artists:</strong> {{ wrap.top_artists|join:", " }}<br>
                <strong>Created At:</strong> {{ wrap.created_at }}
                
                <!-- Delete Button -->
                <form action="{% url 'wrapped:delete_wrap' wrap.id %}" method="POST"
                      onsubmit="return confirm('Are you sure you want to unsave this wrap?');">
                    {% csrf_token %}
                    <button type="submit" class="delete-wrap-button">Delete</button>
                </form>
            </li>
        {% empty %}
            <li>No favorite wraps found.</li>
        {% endfor %}
    </ul>
</div>