{% load static %}

{# Add pictures #}
<h1>Contact the Developers</h1>
    <h2>Frontend</h2>
        <h3>Durga Pranati Duvvuri</h3>
            <p>Description</p>
        <h3>Denise Wall</h3>
            <p>Description</p>
    <br>
    <h2>Backend</h2>
        <h3>Samrita Shetty</h3>
            <p>Description</p>

    <br>
    <h2>Full Stack</h2>
        <h3>Maddie Crowne</h3>
            <p>Description</p>
        <h3>Katherine Sanders</h3>
            <p>Description</p>
    <br>


<h1>Feedback</h1>
{# FOR FULLSTACK: Need to change so that it's not a hard coded size - ChatGPT can do that (I just didn't wanna make a CSS file before integration) #}
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScgir4aoivuE-7mBMdcINZ4o5w_8xFDYYbc32oIoIN1QOXDkQ/viewform?embedded=true" width="640" height="720" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>