{% load static %}
<script src='{% static 'playClips.js' %}'></script>

<h1>Wrapped</h1>
<h2>Welcome, {{ user_data.display_name }}!</h2>

{% if selected_time_range == 'short_term' %}
    <h2>This is your Wrapped for the past month.</h2>
{% elif selected_time_range == 'medium_term' %}
    <h2>This is your Wrapped for the past 6 months.</h2>
{% elif selected_time_range == 'long_term' %}
    <h2>This is your Wrapped for the past year.</h2>
{% endif %}

{#<p>Email: {{ user_data.email }}</p>#}
{#<p>Spotify ID: {{ user_data.id }}</p>#}
{#<p>Country: {{ user_data.country }}</p>#}
{#<img src="{{ user_data.images.0.url }}" alt="Profile Picture"/>#}
<h3>Top Artists</h3>
<ul>
    {% if top_artists %}
        {% for artist in top_artists.items %}
            <li>{{ artist.name }}</li>
        {% endfor %}
    {% else %}
        <p>No top artists available.</p>
    {% endif %}
</ul>
<h3>Your Top Tracks</h3>
<ul id="track-list">
    {% for track in top_tracks.items %}
        <li>
            {{ track.name }} by
            {% if track.artists %}
                {{ track.artists.0.name }}
            {% else %}
                Unknown Artist
            {% endif %}
            <audio class="track-audio">
                <source src="{{ track.preview_url }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </li>
    {% endfor %}
</ul>

<h3>Top Genres</h3>
<ul>
    {% if top_genres %}
        {% for genre in top_genres %}
            <li>{{ genre }}</li>
        {% endfor %}
    {% else %}
        <p>No top genres available.</p>
    {% endif %}
</ul>
<button id="play-tracks">Play Top Tracks</button>