<h1>Wrapped Duo</h1>

<h2>Compatability</h2>
<p>{{ compatibility }}%</p>
{% if compatibility < 50 %}
    <p>You two are from different planets</p>
{% elif compatibility < 80 %}
    <p>You two might have similar tastes in music</p>
{% else %}
    <p>You two might just be the same person</p>
{% endif %}

<h2>Vibemeter</h2>
<p>{{ user1.display_name }}</p>
<p>{{ valence_user1 }}°F</p>
{% if valence_user1 <= 25 %}
    <p>MELANCHOLY vibes</p>
{% elif valence_user1 <= 50 %}
    <p>CHILL vibes</p>
{% elif valence_user1 <= 75 %}
    <p>PLEASANT vibes</p>
{% else %}
    <p>HYPE vibes</p>
{% endif %}

<br>

<p>{{ user2.display_name }}</p>
<p>{{ valence_user2 }}°F</p>
{% if average_valence <= 25 %}
    <p>Your beats have MELANCHOLY vibes</p>
{% elif valence_user2 <= 50 %}
    <p>Your beats have CHILL vibes</p>
{% elif valence_user2 <= 75 %}
    <p>Your beats have PLEASANT vibes</p>
{% else %}
    <p>Your beats have HYPE vibes</p>
{% endif %}

<h2>User 1's Top Tracks</h2>
<ol>
    {% for track in top_tracks_user1.items|slice:":5" %}
        <li>
            {{ track.name }}
            {% if track.artists %}
                - {{ track.artists.0.name }}  <!-- Display first artist -->
            {% else %}
                - Unknown Artist  <!-- Fallback if no artist data is available -->
            {% endif %}
        </li>
    {% endfor %}
</ol>

<h2>User 2's Top Tracks</h2>
<ol>
    {% for track in top_tracks_user2.items|slice:":5" %}
        <li>
            {{ track.name }}
            {% if track.artists %}
                - {{ track.artists.0.name }}  <!-- Display first artist -->
            {% else %}
                - Unknown Artist  <!-- Fallback if no artist data is available -->
            {% endif %}
        </li>
    {% endfor %}
</ol>